
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Add Property</h4>
        </div>
        <div class="panel-body">

            <fieldset>

                <legend>
                    About Property
                </legend>

                <div class="form-group">
                    <input placeholder="Property Title" class="form-control"
                           [(ngModel)]="property.title"

                           #title='ngModel' autofocus>
                    <div *ngIf="title.dirty">
                        <span *ngIf='title.errors; then errors'>template renders here...</span>
                    </div>
                </div>

                <div class="form-group">
                    <input placeholder="State" class="form-control"
                           [(ngModel)]="property.state"

                           #state='ngModel' autofocus>
                    <div *ngIf="state.dirty">
                        <span *ngIf='state.errors; then errors'>template renders here...</span>
                    </div>
                </div>

                <div class="form-group">
                    <input placeholder="Tags" class="form-control"
                           [(ngModel)]="property.tags"

                           #tags='ngModel' autofocus>
                    <div *ngIf="tags.dirty">
                        <span *ngIf='tags.errors; then errors'>template renders here...</span>
                    </div>
                </div>

                <div class="form-group">
                    <input placeholder="Price" class="form-control"
                           [(ngModel)]="property.price"

                           #price='ngModel' autofocus>
                    <div *ngIf="price.dirty">
                        <span *ngIf='price.errors; then errors'>template renders here...</span>
                    </div>
                </div>

                <div class="form-group">
                <textarea placeholder="Description" class="form-control"
                          [(ngModel)]="property.description"

                          #description='ngModel' autofocus>
                </textarea>
                    <div *ngIf="description.dirty">
                        <span *ngIf='description.errors; then errors'>template renders here...</span>
                    </div>
                </div>

                <div class="form-group">
                    <input placeholder="Label" class="form-control"
                           [(ngModel)]="property.label"

                           #label='ngModel' autofocus>
                    <div *ngIf="label.dirty">
                        <span *ngIf='label.errors; then errors'>template renders here...</span>
                    </div>
                </div>

            </fieldset>
            <br>

            <fieldset>
                <legend>Visuals</legend>

                <div class="form-group">
                    <div *ngIf="currentUpload">
                        <div class="progress">
                            <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
                        </div>
                        Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
                    </div>
                </div>

                <div class="form-group">
                    <label>
                        <input type="file" (change)="detectFiles($event)" multiple required>
                    </label>

                    <button
                            class="btn btn-default"
                            [disabled]="!selectedFiles"
                            (click)="uploadMulti()">

                        Upload Property Images
                    </button>
                </div>

                <div class="form-group">

                    <label>
                        <input type="file"  (change)="detectFile($event)" required>
                    </label>

                    <button class="btn btn-default"
                            [disabled]="!selectedFile"
                            (click)="uploadSingle()">

                        Upload Thumbnail
                    </button>
                </div>
            </fieldset>
            <br>


            <fieldset>
                <legend>
                   Property Location
                </legend>
                <div class="form-group">
                <textarea placeholder="Property Address" class="form-control"
                          [(ngModel)]="property.address"

                          #address='ngModel' autofocus>
                </textarea>
                    <div *ngIf="address.dirty">
                        <span *ngIf='address.errors; then errors'>template renders here...</span>
                    </div>
                </div>

                <div class="form-group">
                    <input placeholder="City" class="form-control"
                           [(ngModel)]="property.city"

                           #city='ngModel' autofocus>
                    <div *ngIf="city.dirty">
                        <span *ngIf='city.errors; then errors'>template renders here...</span>
                    </div>
                </div>

            </fieldset>
            <br>


            <fieldset>
                <legend>
                    Property Space
                </legend>

                <div class="form-group">
                    <!--<input placeholder="Property Bathrooms" class="form-control"-->
                    <!--[(ngModel)]="property.bathrooms"-->

                    <!--#bathrooms='ngModel' autofocus>-->
                    <label for="bathrooms">Property Bathrooms</label>
                    <select class="form-control" [(ngModel)]="property.bathrooms" name="bathrooms" #bathrooms='ngModel' autofocus>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>



                    <div *ngIf="bathrooms.dirty">
                        <span *ngIf='bathrooms.errors; then errors'>template renders here...</span>
                    </div>
                </div>

                <div class="form-group">
                    <!--<input placeholder="Property Bedrooms" class="form-control"-->
                    <!--[(ngModel)]="property.bedrooms"-->

                    <!--#bedrooms='ngModel' autofocus>-->
                    <label for="bedrooms">Property Bedrooms</label>
                    <select class="form-control" [(ngModel)]="property.bedrooms" placeholder="Property Bedrooms" name="bedrooms" #bedrooms='ngModel' autofocus>

                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>

                    <div *ngIf="bedrooms.dirty">
                        <span *ngIf='bedrooms.errors; then errors'>template renders here...</span>
                    </div>
                </div>

            </fieldset>
            <br>


            <fieldset>
                <legend>
                    Other
                </legend>

                <div class="form-group">
                    <input placeholder="Contact" class="form-control"
                           [(ngModel)]="property.contact"

                           #contact='ngModel' autofocus>
                    <div *ngIf="contact.dirty">
                        <span *ngIf='contact.errors; then errors'>template renders here...</span>
                    </div>
                </div>

                <div class="form-group">
                    <input placeholder="Period" class="form-control"
                           [(ngModel)]="property.period"

                           #period='ngModel' autofocus>
                    <div *ngIf="period.dirty">
                        <span *ngIf='period.errors; then errors'>template renders here...</span>
                    </div>
                </div>

            </fieldset>


        </div>

        <div class="panel-footer">
            <div class="form-group">
                <button class="btn btn-primary" (click)='createProperty()' [disabled]="!title.valid">Create</button>
            </div>
        </div>
        <ng-template #valid>
            <p class="text-success">looks good!</p>
        </ng-template>
        <ng-template #errors>
            <p class="text-danger">form contains errors!</p>
        </ng-template>
    </div>
</div>
<!--</form>-->


